@mixin builder-input-base {
  font-family: inherit;
  font-size: var(--b-font-size) !important;
  line-height: var(--b-line-height) !important;
  padding: var(--b-v-padding) var(--b-h-padding) !important;
  height: auto !important;
  min-height: var(--b-height);
}

@mixin builder-input {
  flex: 1;
  min-width: 40px;
  border: none;
  background: transparent;
  outline: none;
  resize: none;
  @include builder-input-base;
}

@mixin builder-number {
  flex: 1;
  min-width: 40px;
  padding: 0 !important;
}

@mixin builder-select {
  min-width: 50px;
  height: var(--b-height) !important;
}

@mixin builder-select-multi {
  min-width: 0;
  min-height: var(--b-height) !important;
  height: auto !important;
  overflow: hidden;
}

@mixin builder-date {
  padding: 0 !important;
  height: var(--b-height) !important;
  min-height: unset !important;
}
