@use 'builder-base' as *;

.eb {
  @include builder-vars;

  .grl-textarea-input:focus {
    box-shadow: none;
  }

  --bg-light: #f3f4f6;
  --bg-active: #dbe9fe;
  --color-active-text: #1c4ed8;
}

.eb-input {
  @include builder-input;
}

.eb-code {
  @include builder-code;
}

.eb-number {
  @include builder-number;
}

.eb-select {
  @include builder-select;
}

.eb-tags {
  @include builder-select-multi;
  flex: 1;
  min-width: 0;
}

.eb-enum {
  @include builder-select-multi;
  flex: 1;
  min-width: 0;
}

.eb-interval {
  display: flex;
  align-items: center;
  gap: 2px;
  flex: 1;
  min-height: var(--b-height);
}

.eb-bracket {
  cursor: pointer;
  font-size: 14px;
  padding: 0 2px;
  user-select: none;
  line-height: var(--b-height);

  &:hover {
    opacity: 0.7;
  }
}

.eb-interval-num {
  width: 45px;
  padding: 0 !important;
}

.eb-chips {
  display: flex;
  gap: 4px;
  flex-wrap: wrap;
  min-height: var(--b-height);
  align-items: center;
}

.eb-chip {
  padding: 2px 6px;
  font-family: var(--grl-font-family), sans-serif;
  font-size: 11px;
  font-weight: 400;
  border-radius: 4px;
  cursor: pointer;
  color: var(--grl-color-text-secondary);
  background: transparent;
  border: 1px solid #e5e7eb;
  user-select: none;
  transition: all 0.15s ease;

  &:hover:not(.disabled):not(.active) {
    background: var(--bg-light);
  }

  &.active {
    background: var(--bg-active);
    border-color: var(--bg-active);
    color: var(--color-active-text);
  }

  &.disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }
}

.eb-label {
  color: var(--grl-color-text-secondary);
  font-size: 12px;
  line-height: var(--b-height);
}

.eb-date {
  min-width: 100px;
  @include builder-date;
}

.eb-time {
  min-width: 60px;
  @include builder-date;
}

.eb-granularity {
  min-width: 60px;
  height: var(--b-height) !important;
}
