@use 'builder-base' as *;

.seb-input {
  @include builder-input;
}
.seb-select {
  @include builder-select;
  flex: 1;
}
.seb-select-multi {
  @include builder-select-multi;
  flex: 1;
  min-width: 0;
}
.seb-number {
  @include builder-number;
}
.seb-date {
  flex: 1;
  min-width: 80px;
  @include builder-date;
}
